div {
    position: absolute;
    border:1px solid #5c9bd3;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.B1 {
    background-color: #84a6e6;
    width:364px;
    height:122px;
    top: 100px;
    left:55px;
    z-index:60;
    margin-left:100px;
}

.B2 {
    background-color: #a2db7e;
    width:308px;
    height:392px;
    top: 40px;
    left: 85px;
    z-index: 40;
    margin-left:100px;
}

.B3 {
    background-color: #e0bb49;
    width:389px;
    height:122px;
    top: 374px;
    left: 20px;
    z-index: 20;
    margin-left:100px;
}
  
.B2 .H1 {
    background-color: #5db1ff;
    width:266px;
    height:98px;
    top: 120px;
    left: 15px;
    z-index:50;
    margin-left:30px;
}
  
.B2 .H2 {
    background-color: #f87474;
    width:140px;
    height:300px;
    top: 33px;
    left:126px;
    z-index:30;
    margin-left:30px;
}
  
  
.B2 .H3 {
    background-color: #9c5757;
    width:170px;
    height:102px;
    top: 278px;
    left: 105px;
    z-index: 10;
    margin-left:10px;
}